<main class="bg-light">
  <div class="">
    <h1 class="text-center text-primary mt-2">Tech Blog</h1>
    <article class="p-5 pt-0">
      <h3 class="text-primary">Welcome</h3>
      <p>Tech blog. </p>
    </article>
    <div class="container">
      {{>login}}
      {{>register}}
    </div>
  </div>
</main>